#btnedit, #btnsave{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #FFB7FF;
    color: black;
    font-weight: 700;
    border-width: 6%;
    border: black !important;
}
#btnedit:hover, #btnsave:hover{
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.274) !important;
}
#textar{
    margin: 5% !important;
    display: flex;
    justify-content: center;
}
#fc-text-one{
    padding-bottom: 5%;
}
