#fc-text-one {
    background-color: #FFFCE8 !important;
}

#table1 {
    text-align: center;
    
}
#colinputlat{
    padding: none !important;
}
#inputnumberlat, #inputnumberlong{
    background-color: #D9D9D9;
    border: 1px solid #0000009c !important;
    box-shadow: none;
}
#lbllong, #lbllat{
    color: #600000;
    font-weight: 700;
}
#btnupdatecors{
    width: 50%;
    background-color: #FFB7FF;
    color: black;
    font-weight: 700;
    border: none;
}
#btnupdatecors:hover{
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.274);
}

#latlongupdt, #recentlcs{
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Map */
#mapping{
    border-radius: 5%;
}
#gap{
    color: red;
    padding-top: 0 !important;
    padding-bottom: 1%;
}
#gap2{
    color: red;
    padding-top: 2%;
    padding-bottom: 0%;
}
#first-containerdash{
    transition: 2s ease;
    padding: 8%;
    padding-bottom: 2%;
}
#btntrash{
    border: none;
    background-color: #FFFCE8;
    color: red;
}
#btntrash:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.377);
    border-radius: 30% !important;
}
#btnmylocs{
    border: none;
    background-color: #FFFCE8;
}
#btnmylocs:hover{
    color: #FFB7FF;
}
#ullocs{
    list-style-type: none;
}
#ullocs>li{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px;
}
#ullocs::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    border-radius: 4px;
  }

  #ullocs::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }

  #ullocs::-webkit-scrollbar-thumb {
    background: #FFB7FF; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
  }

  #ullocs::-webkit-scrollbar-thumb:hover {
    background: #7a487a; /* Color of the scrollbar thumb on hover */
  }