
#fc-text-one {
    background-color: #FFFCE8 !important;
}

#table1 {
    text-align: center;
    
}
#colinputlat{
    padding: none !important;
}
#inputnumberlat, #inputnumberlong{
    background-color: #D9D9D9;
    border: black 20px !important;
    border: 1px solid #0000009c !important;
}
#lbllong, #lbllat{
    color: #600000;
    font-weight: 700;
}
#btnupdatecors{
    width: 50%;
    background-color: #FFB7FF;
    color: black;
    font-weight: 700;
    border: none;
}
#btnupdatecors:hover{
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.274) !important;
}

#latlongupdt, #recentlcs{
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Map */
#mapping{
    border-radius: 5%;
}