#btnmodallocs,#btnmaploc, #btnmodallocsall{
    border: none;
    background-color: #FFFCE8;
    color: rgba(255, 0, 0, 0.548);
}
#btnmodallocs:hover, #btnmaploc:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.377);
    border-radius: 30% !important;
}
#btnmodallocsall:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.377);
    border-radius: 7% !important;
}
#lbltextifg{
    padding-top: 1%;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
#lblview{
    padding-top: 4%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: larger;
}
#hlocs{
    color: #600000;
}
#lbllocs1, #lbldatef, #lbldatet{
    border: none;
    background-color: #FFFCE8;
    color: rgba(255, 0, 0, 0.548);
    padding-left: 0 ;
}
#rowbtnmodal,  #rowbtnmodal1{
    margin: 0;
    display: flex !important;
    justify-content: center !important;
}



input[type='date'] {
    appearance: none;
    background-color: #f1eed6;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    box-shadow: none;
    width: 100%;
  }
  
  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  
  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-clear-button {
    display: none;
  }
  #lbldatef, #lbldatet{
    padding-right: 1%;
  }




  @media only screen and (max-width: 600px) {
    #mapping{
        margin-left: auto;
        margin-top: 4%;
        margin-right: auto;
        padding-bottom: 4%;
    }
    #fc-text-one{
        margin-top: 35%;
    }
}

    /* Tablets or LargePhones */
@media only screen and (min-width: 600px) {
    #mapping{
        margin-left: auto;
        margin-top: 4%;
        margin-right: auto;
        padding-bottom: 4%;
    }
}